.admin-front-edit-container{
    background-image: url(https://i.pinimg.com/originals/b9/e3/9f/b9e39f0a62072527e85c6a19f751091d.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}